@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f8;
  --foreground: #1d1c1d;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-geist-sans),
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}
